.alert{
    padding: 20px;
    color: white;
    background-color: rgb(25, 118, 154);
    margin-bottom: 15px;    
}

.closebtn{
    font-weight: bold;
    line-height: 20px;
    float: right;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover{
    color: black;
}